## Criando a tabela dos vendedores

In [2]:
import pandas as pd

In [13]:
cores = pd.read_csv("../car_prices_1p_2014.csv", usecols=["color", "interior"])

In [14]:
cores = pd.concat([cores["color"], cores["interior"]], axis=0, ignore_index=True).to_frame("cores")

In [18]:
cores = cores.drop_duplicates()

In [19]:
cores["cor_id"] = range(1 , len(cores) + 1)

In [20]:
cores = cores[["cor_id", "cores"]]

In [21]:
cores

     cor_id      cores
0         1      white
1         2      black
2         3       gray
14        4       blue
18        5     purple
19        6      beige
23        7        red
26        8     silver
100       9       gold
115      10   burgundy
122      11      green
135      12  off-white
175      13        tan
209      14      brown

In [22]:
cores.to_csv("../tabelas/cores.csv", index=False)