## Criando a tabela dos vendedores

In [13]:
import pandas as pd

In [18]:
transmissao = pd.read_csv("../car_prices_1p_2014.csv", usecols=["transmission"])

In [23]:
transmissao = transmissao.drop_duplicates()

In [24]:
transmissao["trm_id"] = range(1 , len(transmissao) + 1)

In [26]:
transmissao = transmissao[["trm_id", "transmission"]]

In [27]:
transmissao

    trm_id transmission
0        1    automatic
43       2       manual

In [28]:
transmissao.to_csv("../tabelas/transmissoes.csv", index=False)