## Criando a tabela dos modelos dos carros

In [87]:
import pandas as pd

In [88]:
modelos = pd.read_csv("../car_prices_1p_2014.csv", usecols=["make", "model", "trim", "body", "transmission"])

In [89]:
transmissao = pd.read_csv("../tabelas/transmissoes.csv")

In [90]:
marcas = pd.read_csv("../tabelas/marcas.csv")

In [91]:
modelos = modelos.drop_duplicates()

In [92]:
len(modelos)

101

### Associando a tabela de transmissões com os modelos

In [93]:
#Mapeando transmissão
trm_mapa = dict(zip(transmissao["transmission"], transmissao["trm_id"]))

In [94]:
modelos["mod_trm_id"] = modelos["transmission"].map(trm_mapa)

In [95]:
modelos = modelos.drop("transmission", axis=1)

### Associando a tabela de marcas com os modelos

In [96]:
#Mapeando marcas
mrc_mapa = dict(zip(marcas["make"], marcas["mrc_id"]))

In [97]:
modelos["mod_mrc_id"] = modelos["make"].map(mrc_mapa)

In [98]:
modelos = modelos.drop("make", axis=1)

In [99]:
modelos = modelos[["mod_mrc_id", "model", "trim", "body", "mod_trm_id"]]

#### Adicionando um ID para o CSV dos modelos

In [104]:
modelos["mod_id"] = range(1, len(modelos) + 1)

In [107]:
modelos = modelos[["mod_id", "mod_mrc_id", "model", "trim", "body", "mod_trm_id"]]

In [108]:
modelos

     mod_id  mod_mrc_id       model           trim   body  mod_trm_id
0         1           1      Altima          2.5 S  Sedan           1
1         2           2     Charger             RT  Sedan           1
2         3           3      Escape             SE    SUV           1
4         4           3      Fusion             SE  Sedan           1
5         5           3  Expedition  EL King Ranch    SUV           1
..      ...         ...         ...            ...    ...         ...
154      97          27    Grand Am            SE1  Coupe           1
155      98           8       Camry             LE  Sedan           1
156      99           8     Corolla             LE  Sedan           1
159     100          26    3 Series           335i  Sedan           1
160     101          28      Acadia          SLT-1    SUV           1

[101 rows x 6 columns]

### Escrevendo os dados no CSV

In [110]:
modelos.to_csv("../tabelas/modelos.csv", index=False)